@font-face {
  font-family: "Mono Lisa Font Nerd";   /*Can be any text*/
  src: local("MonoLisa Regular Nerd Font Complete Mono"),
    url("./fonts/MonoLisa Regular Nerd Font Complete Mono.otf") format("otf");
}

* {
    font-family: 'Mono Lisa Font Nerd';
    box-sizing: border-box;
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

html, body {
    background: transparent;
    height: 100vh;
}

#root {
    height: 100%;
    width: 100%;
}

#root > * {
    background-color: hsl(0 0% 16% / 10); 
}
